In [10]:
import pandas as pd
import os

In [11]:

def read_csv(path):
    df = pd.read_csv(path)
    return df

In [14]:
data_location = "C:/Users/Sigurd/Documents/Kornmo/From the students/data"

dataset_df = read_csv(os.path.join(data_location, '../dataset_raw.csv'))

dataset_df.head()

,mean_temp0,mean_temp1,mean_temp2,mean_temp3,mean_temp4,mean_temp5,mean_temp6,mean_temp7,mean_temp8,mean_temp9,...,mean_temp173,mean_temp174,mean_temp175,mean_temp176,mean_temp177,mean_temp178,mean_temp179,mean_temp180,mean_temp181,mean_temp182
0,7.9,10.1,8.8,7.8,6.7,6.8,6.4,8.5,11.1,7.1,...,13.6,15.1,12.5,16.9,16.7,17.1,16.4,16.0,15.3,15.3
1,7.9,10.1,8.8,7.8,6.7,6.8,6.4,8.5,11.1,7.1,...,13.6,15.1,12.5,16.9,16.7,17.1,16.4,16.0,15.3,15.3
2,7.9,10.1,8.8,7.8,6.7,6.8,6.4,8.5,11.1,7.1,...,13.6,15.1,12.5,16.9,16.7,17.1,16.4,16.0,15.3,15.3
3,7.9,10.1,8.8,7.8,6.7,6.8,6.4,8.5,11.1,7.1,...,13.6,15.1,12.5,16.9,16.7,17.1,16.4,16.0,15.3,15.3
4,-0.6,-0.5,1.2,3.8,1.9,3.7,3.9,4.3,3.8,6.0,...,4.4,5.3,3.8,6.6,10.2,9.3,6.7,5.7,8.2,7.9

In [16]:
dataset_df = dataset_df.filter(regex=("mean_temp.*"))
dataset_df.head()

,mean_temp0,mean_temp1,mean_temp2,mean_temp3,mean_temp4,mean_temp5,mean_temp6,mean_temp7,mean_temp8,mean_temp9,...,mean_temp173,mean_temp174,mean_temp175,mean_temp176,mean_temp177,mean_temp178,mean_temp179,mean_temp180,mean_temp181,mean_temp182
0,7.9,10.1,8.8,7.8,6.7,6.8,6.4,8.5,11.1,7.1,...,13.6,15.1,12.5,16.9,16.7,17.1,16.4,16.0,15.3,15.3
1,7.9,10.1,8.8,7.8,6.7,6.8,6.4,8.5,11.1,7.1,...,13.6,15.1,12.5,16.9,16.7,17.1,16.4,16.0,15.3,15.3
2,7.9,10.1,8.8,7.8,6.7,6.8,6.4,8.5,11.1,7.1,...,13.6,15.1,12.5,16.9,16.7,17.1,16.4,16.0,15.3,15.3
3,7.9,10.1,8.8,7.8,6.7,6.8,6.4,8.5,11.1,7.1,...,13.6,15.1,12.5,16.9,16.7,17.1,16.4,16.0,15.3,15.3
4,-0.6,-0.5,1.2,3.8,1.9,3.7,3.9,4.3,3.8,6.0,...,4.4,5.3,3.8,6.6,10.2,9.3,6.7,5.7,8.2,7.9

In [1]:
from gdb_to_csv import read_soil
gdf = read_soil()

ModuleNotFoundError: No module named 'fiona'